<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900|Caveat+Brush" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  {{!-- <link rel="stylesheet" href="/stylesheets/css/swiper.css" type="text/css" /> --}}
  <link rel="stylesheet" href="/stylesheets/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/responsive.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/calendar.css" type="text/css" />

  <link rel="stylesheet" href="/stylesheets/css/colorsa0f9.css?color=C6C09C" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/fonts.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/css/nonprofit.css" type="text/css" />

  <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

  <title>Ambeit | {{title}}</title>
</head>

<body>
  {{{body}}}
</body>

</html>